<!DOCTYPE html>
<html lang="ru">

</html>
<!--[if IE 9]>
    <html class="ie-9" lang="ru">
<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тестовое задание Компания "Лаборатория Интернет"</title>
</head>

<body>
    <section class="section-header">
        <div class="container">
            <header class="header">
                <div class="container">
                    <div class="header__left">
                        <a href="/" class="logo"><img markup-inline src="../images/logo.svg" class="logo__img"></a>
                    </div>
                    <div class="header__right">
                        <div class="phone">
                            <div class="phone__icon"><img src="../images/phone.svg" alt="phone"></div>
                            <div class="phone__text">8 499 999 99 99</div>
                        </div>
                        <ul class="socials">
                            <li class="socials__item"><a href="#" class="socials__link"><img src="../images/inst.svg"
                                        alt="instagram" class="socials__img"></a></li>
                            <li class="socials__item"><a href="#" class="socials__link"><img src="../images/vk.svg"
                                        alt="vkontakte" class="socials__img"></a></li>
                        </ul>
                        <button type="button" class="menu-button"></button>
                    </div>
                </div>
            </header>
            <nav class="menu">
                <div class="menu__wrap">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link">пункт меню 1</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">пункт меню 2</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">пункт меню 3</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">пункт меню 4</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">пункт меню 5</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main-title section-header__title">lorem ipsum dolor sit amet</div>
            <div class="section-header__text"><span class="first-word">lorem</span> ipsum dolor sit amet</div>
            <div class="section-header__progress-wrap">
                <ul class="section-header__progress progress">
                    <li class="progress__item">
                        <div class="progress__img-wrap">
                            <img src="../images/award2.svg" alt="" class="progress__img-prize">
                        </div>
                        <img src="../images/worldwide.svg" alt="" class="progress__img-level">
                        <div class="progress__text progress__text_active">Lorem ipsum dol</div>
                    </li>
                    <li class="progress__item">
                        <div class="progress__img-wrap">
                            <img src="../images/award.svg" alt="" class="progress__img-prize">
                        </div>
                        <img src="../images/euro.svg" alt="" class="progress__img-level">
                        <div class="progress__text">lorem ipsum</div>
                    </li>
                    <li class="progress__item">
                        <div class="progress__img-wrap">
                            <img src="../images/medal.svg" alt="" class="progress__img-prize progress__img-prize_small">
                        </div>
                        <img src="../images/euro.svg" alt="" class="progress__img-level">
                        <div class="progress__text">lorem ipsum dolor sit amet</div>
                    </li>
                    <li class="progress__item">
                        <div class="progress__img-wrap">
                            <img src="../images/award.svg" alt="" class="progress__img-prize">
                        </div>
                        <img src="../images/russia.svg" alt="" class="progress__img-level">
                        <div class="progress__text">lorem ipsum</div>
                    </li>
                </ul>
            </div>
            <button class="button section-header__button" type="button">lorem ipsum dolor</button>
        </div>
    </section>
    <section class="section-slider">
        <div class="container">
            <h2 class="section-slider__title title">второй блок</h2>
            <div id="slider" class="slider">
                <div class="slider__wrap">
                    <div class="slider__border-left"></div>
                    <div class="slider__border-right"></div>
                    <ul class="slider__list-slides">
                        <li class="slider__slide">
                            <div class="slider-item__desc">
                                <h2 class="slider-item__main-title title">лоремова</h2>
                                <h3 class="slider-item__subtitle subtitle">ипсума анатольевна</h3>
                                <div class="slider-item__caption">lorem ipsum dolor</div>
                                <button type="button" class="slider-item__button-hide">показать</button>
                                <div class="slider__wrap-info hide">
                                    <ul class="slider-item__list">
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                    </ul>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolor
                                    </p>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolor lorem ipsum dolor
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item__picture">
                                <div class="slider-item__img-wrap">
                                    <img src="../images/Ellipse.png" class="slider-item__img" alt="slide">
                                </div>
                            </div>
                        </li>
                        <li class="slider__slide">
                            <div class="slider-item__desc">
                                <h2 class="slider-item__main-title title">лоремова</h2>
                                <h3 class="slider-item__subtitle subtitle">ипсума анатольевна</h3>
                                <div class="slider-item__caption">lorem ipsum dolor</div>
                                <button type="button" class="slider-item__button-hide">показать</button>
                                <div class="slider__wrap-info hide">
                                    <ul class="slider-item__list">
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                    </ul>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolor
                                    </p>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolor lorem ipsum dolor
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item__picture">
                                <div class="slider-item__img-wrap">
                                    <img src="../images/Ellipse.png" class="slider-item__img" alt="slide">
                                </div>
                            </div>
                        </li>
                        <li class="slider__slide">
                            <div class="slider-item__desc">
                                <h2 class="slider-item__main-title title">лоремова</h2>
                                <h3 class="slider-item__subtitle subtitle">ипсума анатольевна</h3>
                                <div class="slider-item__caption">lorem ipsum dolor</div>
                                <button type="button" class="slider-item__button-hide">показать</button>
                                <div class="slider__wrap-info hide">
                                    <ul class="slider-item__list">
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                    </ul>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolor
                                    </p>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolor lorem ipsum dolor
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item__picture">
                                <div class="slider-item__img-wrap">
                                    <img src="../images/Ellipse.png" class="slider-item__img" alt="slide">
                                </div>
                            </div>
                        </li>
                        <li class="slider__slide">
                            <div class="slider-item__desc">
                                <h2 class="slider-item__main-title title">лоремова</h2>
                                <h3 class="slider-item__subtitle subtitle">ипсума анатольевна</h3>
                                <div class="slider-item__caption">lorem ipsum dolor</div>
                                <button type="button" class="slider-item__button-hide">показать</button>
                                <div class="slider__wrap-info hide">
                                    <ul class="slider-item__list">
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                    </ul>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolor
                                    </p>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolor lorem ipsum dolor
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item__picture">
                                <div class="slider-item__img-wrap">
                                    <img src="../images/Ellipse.png" class="slider-item__img" alt="slide">
                                </div>
                            </div>
                        </li>
                        <li class="slider__slide">
                            <div class="slider-item__desc">
                                <h2 class="slider-item__main-title title">лоремова</h2>
                                <h3 class="slider-item__subtitle subtitle">ипсума анатольевна</h3>
                                <div class="slider-item__caption">lorem ipsum dolor</div>
                                <button type="button" class="slider-item__button-hide">показать</button>
                                <div class="slider__wrap-info hide">
                                    <ul class="slider-item__list">
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum dolor
                                                lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                        <li class="slider-item__item"><span class="slider-item__item-text">lorem ipsum
                                                dolor</span></li>
                                    </ul>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum
                                        dolor
                                    </p>
                                    <div class="slider-item__title">lorem ipsum dolor</div>
                                    <p class="slider-item__text">
                                        lorem ipsum dolor lorem ipsum dolor
                                    </p>
                                </div>
                            </div>
                            <div class="slider-item__picture">
                                <div class="slider-item__img-wrap">
                                    <img src="../images/Ellipse.png" class="slider-item__img" alt="slide">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slider__controls">
                    <button id="prev" type="button" class="slider__control-prev" href="#sliderExampleIndicators"
                        role="button" data-slide="prev">
                        <img class="slider__arrow" markup-inline src="../images/left-arrow.svg">
                    </button>
                    <div class="slider__count">
                        <span class="slider__current-slide"></span>
                        из
                        <span class="slider__all-slides"></span>
                    </div>
                    <button id="next" type="button" class="slider__control-next" href="#sliderExampleIndicators"
                        role="button" data-slide="next">
                        <img class="slider__arrow" markup-inline src="../images/right-arrow.svg">
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section-product">
        <div class="container">
            <h2 class="title section-product__title">третий блок</h2>
            <svg class="section-product__svg-ie" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                        <stop offset="0%" stop-color="#FDF4F4" />
                        <stop offset="100%" stop-color="#ECF3EC" />
                    </linearGradient>
                </defs>
                <rect fill="url(#gradient)" width="100%" height="100%" />
            </svg>
            <ul class="date-block">
                <li class="date-block__item">
                    <button class="date-block__button active">2019</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2018</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2017</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2016</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2015</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2014</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2013</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2012</button>
                </li>
                <li class="date-block__item">
                    <button class="date-block__button">2011</button>
                </li>
            </ul>
            <ul class="section-product__list">
                <li class="product ">
                    <img src="../images/fb.png" alt="fb" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet.</div>
                    <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla
                        interdum felis placerat vulputate.</div>
                </li>
                <li class="product ">
                    <img src="../images/amazon.png" alt="" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet.</div>
                    <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla
                        interdum felis placerat vulputate.</div>
                </li>
                <li class="product ">
                    <img src="../images/sony.png" alt="" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    <div class="product__text"></div>
                </li>
                <li class="product ">
                    <img src="../images/ae.png" alt="" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet.</div>
                    <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla
                        interdum felis placerat vulputate. </div>
                </li>
                <li class="product ">
                    <img src="../images/fb.png" alt="fb" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet.</div>
                    <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla
                        interdum felis placerat vulputate.</div>
                </li>
                <li class="product ">
                    <img src="../images/amazon.png" alt="" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet.</div>
                    <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla
                        interdum felis placerat vulputate.</div>
                </li>
                <li class="product ">
                    <img src="../images/sony.png" alt="" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    <div class="product__text"></div>
                </li>
                <li class="product ">
                    <img src="../images/ae.png" alt="" class="product__img">
                    <div class="product__title">Lorem ipsum dolor sit amet.</div>
                    <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla
                        interdum felis placerat vulputate. </div>
                </li>
            </ul>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="copyright">
                <span class="copyright__text">&copy; Копирайт 2019</span>
            </div>
            <a href="/" class="footer__logo">
                <img class="footer__img" src="../images/Union.svg" alt="logo">
            </a>
        </div>
    </footer>
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.prepend%2Ces2015%2Ces2016%2Ces5%2Ces6%2CElement%2CElement.prototype.after%2CElement.prototype.append%2CElement.prototype.before%2CElement.prototype.classList%2CElement.prototype.closest%2CElement.prototype.nextElementSibling%2CElement.prototype.previousElementSibling%2CElement.prototype.replaceWith"></script>
</body>

</html>